*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgrey;
}

.container{
    /* border: 1px solid lightgreen; */
}

[class*="col-"]{
    height: 44px;
}

.white{
    background: white;
}

.black{
    background-color: black;
}

.blue{
    background-color: lightskyblue;
}

.red{
    background-color: crimson;
}

.yellow{
    background-color: gold;
}
